---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={"Leaderboard"}>
    <div class="w-full text-center">
        <h1 class="text-9xl">WIP</h1>
        :)
    </div>
</BaseLayout>
