:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #131313;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;
  flex: 1;

  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.title-area {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-area {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.result-list {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 170px);
  border: 5px solid rgb(214, 214, 214);
  border-radius: 5px;
  padding: 5px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  justify-content: space-evenly;

  border: 5px solid rgb(22, 22, 22);
  border-radius: 5px;

  transition: 0.25s;
  max-width: 500px;
}

.selected {
  background-color: #585858;
  border: 5px solid #585858;
}

.result:hover {
  border: 5px solid #313131;
  background-color: #313131;
  transition: 0.25s;
}

.result p {
  font-size: 8px;
  margin: 5px;
}

.result img {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.canvas-container {
  max-width: 500px;
  height: 500px;
  border: 5px solid rgb(214, 214, 214);
  background-color: #1f1f1f;
  border-radius: 5px;
  flex: 1;
}